<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HandyControls" version="3.4.5" targetFramework="net472" requireReinstallation="true" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="21.2.8" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core" version="21.2.8" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfRangeSlider" version="21.2.8" targetFramework="net472" />
  <package id="Xamarin.Forms" version="5.0.0.2578" targetFramework="net472" />
</packages>